

#cv-form{
   /* display : none;*/
}

.myimage{
border : 1px solid grey;
border-radius : 50%;
width : 200px;
}
.background{
    background-color: grey;
}
#nameError {
    display: none;
   
  }